@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Nunito:wght@400;500;600;700;800;900&display=swap');

body{
  background-color: black;
  font-family: 'Nunito', sans-serif;
}
h1{
  font-family: 'Lato', sans-serif;
}
